body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
}
.slide{
    display: none;
    margin: 20px;
}
.slide.active{
    display: block;
}

.emoji-container, .color-container, .number-container,  .color-group-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.next-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.next-button:hover{
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.color-box, .number-box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.number-box{
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    background-color: #ddd;
    transition: background-color 0.3s;
}
.number-box:hover{
    background-color: #ccc;
}
.color-box:hover{
    opacity: 0.8;
}
.selected{
    background-color: #4CAF50;
    color: white;
}
.emoji-container span{
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.emoji-container span:hover{
    transform: scale(1.1);
}

.emoji-box {
    display: inline-block; /* Allow boxes to sit side by side */
    width: 50px; /* Fixed width for the box */
    height: 50px; /* Fixed height for the box */
    margin: 5px; /* Space between boxes */
    border: 1px solid #ccc; /* Border for the box */
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    text-align: center; /* Center text in the box */
    line-height: 50px; /* Center emoji vertically */
    font-size: 24px; /* Size of emoji */
}



